@import url("https://fonts.googleapis.com/css?family=Lato");
/* App Colors */
/* App Font */
/* App Mixins */
/* App Variables */
/* App Functions */
.dm-title {
  font-family: "Lato", sans-serif; }
  .dm-title p {
    display: flex;
    align-items: center;
    padding: 10px 11px 0;
    margin: 0; }
    .dm-title p span {
      display: inline-block;
      background-color: #64D25A;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin-right: 5px; }
