@import '../../../styles/base.scss';

.add-img-modal {
  font-family: $lato;
  background: white;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 100;
  position: absolute;
  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vw - 55vw);
  }
  video {
    height: 25vh;
    border: 1px solid black;
    margin-bottom: 25px;
  }
  canvas {
    height: 25vh;
    border: 1px solid #ff247a;
    margin-bottom: 25px;
  }
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    button {
      padding: 15px;
      outline: none;
      border: none;
      font-size: 1.1em;
      background: $create-green;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      margin-bottom: 20px;
      cursor: pointer;
    }
    button:nth-child(2) {
      padding: 15px;
      font-size: 1.1em;
      font-weight: bold;
      margin-right: 10px;
      outline: none;
      border: 0.5px solid #cdcece;
      border-radius: 5px;
      background: white;
      color: #555459;
      cursor: pointer;
      &:hover {
        color: $royal-blue;
      }
    }
  }
}
