@import url('https://fonts.googleapis.com/css?family=Lato');
/* App Colors */
$active-green:#64D25A;
$light-grey: #CDCECE;
$btn-white: #EAEAE9;
$create-green: #2AB27B;
$royal-blue:#2780F8;
$drk-grey:#555459;
$header-grey:#A0A0A2;
$nav-active:#C1CBD5;

/* App Font */
$lato: 'Lato', sans-serif;

/* App Mixins */


/* App Variables */

/* App Functions */
