@import url("https://fonts.googleapis.com/css?family=Lato");
/* App Colors */
/* App Font */
/* App Mixins */
/* App Variables */
/* App Functions */
.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.main-container .nav-container {
  border-right: 1px solid #e8e8e8;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background: #f8f8fa;
  color: #94979b;
  max-width: 12vw;
  min-width: 220px;
  height: 100%;
}
.main-container .nav-container video {
  height: 25vh;
  position: absolute;
  border: 1px solid black;
  top: 7vh;
  left: 38vh;
}
.main-container .nav-container .login-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  border: 1px solid green;
}
.main-container .nav-container .login-user .profile-img {
  border: 1px solid red;
  height: 5vh;
  width: 5vh;
}
.main-container .nav-container #nav-channels {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}
.main-container .nav-container #nav-channels p {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-container .nav-container #nav-channels:hover {
  color: black;
}
.main-container .nav-container #nav-dm {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}
.main-container .nav-container #nav-dm p {
  margin: 15px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-container .nav-container #nav-dm:hover {
  color: black;
}
.main-container .message-container {
  width: calc(100vw - 15vw);
  height: 100vh;
}
